extend ../module/_template

append JavascriptBlock
	script(src="/js/about/script.js")
append StylesheetBlock
	link(rel="stylesheet" href="/css/about/style.css")

block ContentBlock
	.wrapper
		h1 Hello About!
